<ActionBar [title]="'My Book Title'">
</ActionBar>
<RadSideDrawer>
    <StackLayout tkDrawerContent class="bg-primary">
        <GridLayout class="side-title">
            <Label col="0" text="Table of Contents" class="side-title-toc"></Label>
            <Label col="1" text="&#xf057;" (tap)="onCloseDrawerTap()" class="far side-title-close"></Label>
        </GridLayout>
        <ScrollView>
            <StackLayout class="bg-primary">
                <StackLayout *ngFor="let item of navItems" (tap)="navigateToChapter(item.href)">
                    <Label [text]="item.label" class="h3 sideLabel"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
    <GridLayout tkMainContent>
        <WebView #epubWebView
                 (doubleTap)="toggleBottomNav = !toggleBottomNav"
                 (swipe)="onSwipe($event)"></WebView>
        <GridLayout columns="*, *" verticalAlignment="top">
            <Label col="0" class="h4 page-number pull-left" [text]="sectionNumber"></Label>
            <Label col="1" class="h4 page-number pull-right" [text]="pageNumber"></Label>
        </GridLayout>
        <app-reader-bottom-nav *ngIf="toggleBottomNav" (showChapters)="openDrawer()"></app-reader-bottom-nav>
    </GridLayout>
</RadSideDrawer>
